<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--These settings load the log4net configuration.-->
		<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />
		<!--These settings load the log4net configuration.-->

		<add key="BigFix.Validar" value="true" />
		<add key="BigFix.SSLValidar" value="true" />
		<add key="BigFix.RutaXML" value="F:\Codigo fuente\BCP\GSTI-CMDB\BCP-CMDB\BCP-CVT2\BCP.CVT.WebApi\App_Data\Xml\" />
		<add key="Subdominio.SO" value="36" />
		<add key="Subdominio.BdNonRelational" value="68" />
		<add key="Subdominio.BdRelational" value="69" />

		<add key="Indicadores.Equipos.NroMeses" value="1|2|3" />
		<add key="Indicadores.Equipos.NroSubdominios" value="3|5|10" />
		<add key="TipoTecnologia.Id" value="1,2,3,5,6" />
		<add key="TipoNotificacionesExcluir.Id" value="6" />
		<add key="Responsables.Portafolio" value="" />

		<add key="Azure.KeyVault.Url" value="https://akvteu2e195d01.vault.azure.net" />
		<add key="Azure.KeyVault.Secret.UserSQL" value="E195-UsuarioBD" />
		<add key="Azure.KeyVault.Secret.PwdSQL" value="E195-UsuarioContrasenia" />
		<add key="Azure.KeyVault.Secret.ServerSQL" value="E195-ServidorAzureSQL" />
		<add key="Azure.KeyVault.Secret.BDSQL" value="E195-BDAzureSQL" />
		<add key="Azure.KeyVault.Secret.SecretApp" value="E195-SecretoAplicacion" />
		<add key="Azure.KeyVault.Secret.TokenJenkins" value="E195-TokenJenkins" />
		<add key="Azure.KeyVault.Secret.UsuarioJenkins" value="E195-UsuarioJenkins" />
		<add key="Azure.KeyVault.Secret.StorageName" value="E195-StorageNombre" />
		<add key="Azure.KeyVault.Secret.StorageKey" value="E195-StorageClave" />

		<add key="Secretos.Local.Activar" value="true" />
		<add key="Secretos.E195-BDAzureSQL" value="MSQLEU2E195DINT01" />
		<add key="Secretos.E195-ServidorAzureSQL" value="Msqleu2e195d01.database.windows.net" />
		<add key="Secretos.E195-UsuarioBD" value="exitoperu" />
		<add key="Secretos.E195-UsuarioContrasenia" value="9KSHaku1CzHKvDAVufQJ" />
		<add key="Secretos.E195-SecretAPP" value="6DR10CaDv2bfsD@moUdMz/]AmnPYXBO:" />
		<add key="Secretos.E195-TokenJenkins" value="117952b1eee974cd228369b1991ddfa8d2" />
		<add key="Secretos.E195-UsuarioJenkins" value="APE195DES" />
		<add key="Secretos.E195-StorageClave" value="hQWZldF8glkbgpkRjBDNwKwojVZyF18UxfNCw23NJmupa7IjoOC/DDtsLb6F3WduU6sBMrME9KQ+fCIRqsaaBA==" />
		<add key="Secretos.E195-StorageNombre" value="staceu2e195d01" />

		<add key="Configuracion.Id" value="1" />

		<add key="CodigoAplicacion" value="E195" />
		<add key="Aplicacion.Infraestructura" value="Cloud - SaaS|Hosting Externo" />


		<add key="Azure.App.Id" value="46959aa5-8963-4536-9134-f8f1b1cc896c" />
		<add key="Azure.App.Id.2" value="46959aa5-8963-4536-9134-f8f1b1cc896c" />
		<add key="Azure.App.Tenant" value="5d93ebcc-f769-4380-8b7e-289fc972da1b" />
		<add key="Graph.API.Token" value="https://login.microsoftonline.com/{0}/oauth2/v2.0/token" />
		<add key="Graph.API.Users" value="https://graph.microsoft.com/v1.0/users/{0}" />
		<add key="Graph.API.Groups" value="https://graph.microsoft.com/v1.0/groups" />
		<add key="Graph.API.SSLDeshabilitar" value="true" />
		<add key="Graph.API.SendMail" value="https://graph.microsoft.com/v1.0/users/{0}/sendMail" />

		<add key="PAPP.ID.WEB" value="1249" />
		<add key="PAPP.ID.PRODUCCION" value="APLICACION PARA PRODUCCION" />


		<add key="PARAMETRO.QUALYS_FILENAME_REPORTE_VULN_CONSOLIDADO_ACTIVE" value="Qualys_Consolidado_Active.xlsx" />
		<add key="PARAMETRO.QUALYS_FILENAME_REPORTE_VULN_CONSOLIDADO_ALL" value="Qualys_Consolidado_All.xlsx" />
		<add key="PARAMETRO.QUALYS_AZURE_STORAGE_CADENACONEXION" value="" />
		<add key="CONTENEDOR.QUALYS" value="qualys" />
		<add key="CONTENEDOR.TECNOLOGIANOREGISTRADA" value="tecnologia-no-registrada" />
		<add key="PARAMETRO.NOMBRE_ARCHIVO_TECNOREGISTRADA" value="TecnologiaNoRegistrada{0}.xlsx" />

		<add key="Jenkins.Ambiente" value="DESA|PROD" />
		<add key="Jenkins.APIUrl" value="" />

		<add key="JWT_SECRET_KEY" value="clave-secreta-api" />
		<add key="Azure.KeyVault.Secret.JwtSecretKey" value="E195-JWT-SECRET-KEY" />
		<add key="Secretos.E195-JwtSecretKey" value="XdEFas346fsCX85QW" />
		<add key="JWT_EXPIRE_MINUTES" value="720" />
		<add key="JWT_AUDIENCE_TOKEN" value="http://localhost:50475" />
		<add key="JWT_ISSUER_TOKEN" value="http://localhost:50475" />
		
		<add key="Restriccion.HoraInicio" value="00:00:00" />
		<add key="Restriccion.HoraFIn" value="05:00:00" />

	</appSettings>
	<system.web>
		<authentication mode="Windows" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" executionTimeout="7600" enableVersionHeader="false" />
		<compilation debug="true" targetFramework="4.7.2" />
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" maxQueryString="32768" maxUrl="65536" />
				<!--<verbs>
        <add verb="TRACE" allowed="false" />
        <add verb="TRACK" allowed="false" />
      </verbs>-->
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Xss-Protection" value="1" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<!--<add name="Strict-Transport-Security" value="max-age=31536000"/>-->
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<rewrite>
    <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    <outboundRules rewriteBeforeCache="true">
      <rule name="Remove Server header">
        <match serverVariable="RESPONSE_Server" pattern=".+" />
        <action type="Rewrite" value="" />
      </rule>
      <rule name="Use only secure cookies" preCondition="Unsecured cookie">
        <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
        <action type="Rewrite" value="{R:0}; secure" />
      </rule>
      <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      <preConditions>
        <preCondition name="Unsecured cookie">
          <add input="{RESPONSE_SET_COOKIE}" pattern="." />
          <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
        </preCondition>
      </preConditions>
    </outboundRules>
  </rewrite>-->
	</system.webServer>
</configuration>